body {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: white;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 86px;
  margin: 30px 0 5px 0;
  line-height: 1;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 40px;
  margin: 15px 0;
  text-align: center;
  padding: 5px 10px 20px 10px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 15px 0 5px 0;
  color: rgb(42, 41, 41);
}
h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: rgb(42, 41, 41);
  margin: 15px 0 5px 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(42, 41, 41);
  margin: 10px 0;
  padding: 0 15px;
}

/*Hero*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url(../img/hero.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  margin: 0;
  padding: 210px 0;
  text-align: center;
}
header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  margin: 0;
  text-align: center;
  font-size: 28px;
  padding: 5px 25px;
}

/*Sections*/

section {
  padding: 80px 80px;
}

.learn-more {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 16px 32px;
  margin-top: 32px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  background: #8c2b4a;
}

.trilogy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url(../img/jess-suspiria-1977.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-left: 0;
  margin-right: 0;
}

/*Grids*/
.grid {
  display: grid;
  grid-gap: 30px;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-col-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

/*Images*/
.label {
  /* background: #ec6f97;*/
  background: #8c2b4a;
  text-decoration: none;
  color: white;
  padding: 5px;
}
.credits {
  font-size: 11px;
  margin: 0;
  padding: 5px;
}
.image-wrapper {
  margin: 0 0;
}
.img-responsive {
  width: 100%;
  display: block;
}
/*Videos*/

.card {
  background-color: white;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}
.card-body {
  padding: 0 10px;
}

.card-footer {
  padding: 0 10px;
  margin-bottom: 20px;
  text-align: center;
}
.embed-video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px 8px 0 0;
}

.embed-video-2 {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

/*List*/
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;

  list-style-type: none;
}
/*Footer*/
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/movies.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

footer h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: left;
  padding: 0;
}

footer p {
  color: white;
  padding: 0;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(193, 191, 191);
}

.footer-wrapper {
  padding: 80px 60px;
}

/*Responsive*/

@media (max-width: 960px) {
  h1 {
    font-size: 45px;
    padding: 0 8px;
  }
  header h2 {
    font-size: 20px;
  }

  header {
    padding: 60px 0;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 18px;
  }
  .learn-more {
    padding: 12px 28px;
    margin-top: 32px;
  }

  .grid-2-col,
  .grid-3-col,
  .grid-3-col-with-first-narrow {
    grid-template-columns: 1fr;
  }

  section {
    padding: 40px 30px;
  }

  .footer-wrapper {
    padding: 40px 30px;
  }
}
